<!DOCTYPE html>
{% load humanize %}
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8">
<title>LogIT! | Admin Dashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="/static/BC/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/BC/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="/static/BC/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/BC/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="/static/BC/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css">
<link href="/static/BC/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="/static/BC/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link href="/static/BC/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
<link href="/static/BC/global/css/plugins.css" rel="stylesheet" type="text/css">
<link href="/static/BC/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
<link href="/static/BC/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
<link href="/static/BC/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body>
<div class="page-header">
	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top">
		<div class="container">
			
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->
					<li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-bell"></i>
						{% if notifications.count > 0 %}
						<span class="badge badge-default">{{ notifications.count }}</span>
						{% endif %}
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3>You have <strong>{{ notifications.count }} pending{{ notifications.count|pluralize }}</strong> notification{{ notifications.count|pluralize }}</h3>
							</li>
							{% if notifications.count > 0 %}
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
								{% for notification in notifications %}
									<li>
										<a href="/profile/{{notification.from_notification.username}}?friendrequest=true">
										<span class="time">{{notification.created|naturaltime}}</span>
										<span class="details">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
										</span>
										New friend request </span>
										</a>
									</li>
								{% endfor %}
								</ul>
							</li>
							{% endif %}
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					
					<li class="droddown dropdown-separator">
						<span class="separator"></span>
					</li>
					
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="/profile/{{request.user}}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="/static/BC/admin/layout3/img/avatar9.jpg">
						<span class="username username-hide-mobile">{{ user.get_full_name|default:user.username }}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="/profile/{{request.user}}">
								<i class="icon-user"></i> My Profile </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="{% url 'main:logout' %}">
								<i class="icon-key"></i> Log Out </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN HEADER SEARCH BOX -->
			<form class="search-form" action="{% url 'businesscore:search' %}" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" style="color:#CED0DE;" placeholder="Search Users" name="q">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<!-- END HEADER SEARCH BOX -->
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/" >
						Logs</i>
						</a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="/search/?q=">
						Search</i>
						</a>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
		<div class="container">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<h1>Logs view <small>view logs list</small></h1>
			</div>
			<!-- END PAGE TITLE -->		</div>
	</div>
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="/">Log Group</a><i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="/logs/{{curent_id}}">Logs</a>
					<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 Add Log
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row">
				<div class="col-md-12">
					<!-- Begin: life time stats -->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift font-green-sharp"></i>
								<span class="caption-subject font-green-sharp bold uppercase">Add Log</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-container">
								<table class="table table-striped table-bordered table-hover" id="datatable_products">
								<thead>
								<tr role="row" class="heading">
									<th width="60%">
										 Description
									</th>
									<th width="20%">
										 User
									</th>
									<th width="20%">
										 Amount
									</th>
									<th>
									Actions
									</th>
								</tr>
								<tr role="row" class="filter">
								<form action="" method="POST">
								{% csrf_token %}
								{{ logform.non_field_errors }}
									<td>
										<input type="text" class="form-control" name="description" value="{{logform.description.value|default_if_none:''}}" required>
										{{logform.description.errors}}
									</td>
									<td>
										{{tinylogform.who.value|default_if_none:request.user.get_full_name|default:request.user.username}}
										<input type="hidden" name="who" value="{{tinylogform.who.value|default:request.user.username}}" />
									</td>
									<td>
										<input type="number" class="form-control form-filter input-sm" step="0.01" name="value" value="{{tinylogform.value.value|default_if_none:''}}" required>
										{{tinylogform.value.errors}}
									</td>
									
									<td>
										<div class="margin-bottom-5">
											<button type="submit" class="btn btn-sm blue filter-submit margin-bottom" name="save"><i class="fa fa-check"></i> Save</button>
										</div>
										<a href="/logs/{{current_id}}" class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Cancel</a>
									</td>
								</form>
								</tr>
								</thead>
								<tbody>
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End: life time stats -->
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="container">
		 2015 &copy; LogIT!
	</div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static/BC/global/plugins/respond.min.js"></script>
<script src="/static/BC/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/static/BC/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static/BC/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static/BC/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static/BC/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/BC/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/BC/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/BC/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/BC/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static/BC/admin/layout3/scripts/layout.js" type="text/javascript"></script>
<script src="/static/BC/admin/layout3/scripts/demo.js" type="text/javascript"></script>
<script src="/static/BC/global/scripts/datatable.js"></script>
<script src="/static/BC/admin/pages/scripts/ecommerce-products.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>